body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
   
    
    height: 100vh;
   
}



.photo {
    
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
}

.photo img {
    width: 30%;
    height: auto;
    border: 2px solid #fff; /* Colore del bordo della foto */
    margin-top:5%;
    margin-left:8%;
   
}

.caption {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 70;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
}

.photo:hover {
    transform: scale(1.05);
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #e74c3c; /* Colore del cuore */
    opacity: 0;
    transition: opacity 0.3s;
}
H1
{
    text-align: center;

  



}

.titolo{
    
border:groove 3px red;
    
   text-align:center;
    width:70%;
    height: 10%;
    margin-top:5%;
   margin-left:auto;
    margin-right:auto;
      
}